<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/administrador">{{admin.business.nombre_comercio}}</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li><a href="" class="hidden-xs" ng-click="admin.signOut()"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a></li>
    </ul>
</nav>

<div id="page-wrapper" class="dashboard">
    <div class="row">
        <div class="page-header col-lg-12">
            <h1>{{admin.title}} – <span class="dashboard__title">{{admin.business.nombre_comercio}}</span></h1>
            <span class="hidden-xs dashboard__edit"><a href="#/editar"><i class="fa fa-pencil fa-fw"></i> Editar información</a></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-2">
            <a href="#" class="thumbnail">
              <img ng-src="{{admin.business.logo}}" height="100" width="100">
            </a>
        </div>
        <div class="col-xs-12 col-md-8 dashboard__data">
            <h4>
                <i class="fa fa-user fa-fw"></i> Usuario: <span>{{admin.user.nombre}}</span>
            </h4>
            <div class="btn-group dashboard__social" role="group">
                <button ng-repeat="item in admin.socialLinks" type="button" class="btn btn-default btn__socialLinks"><a href="{{item.url}}" target="_blank"><i class="fa fa-{{item.type}} fa-fw"></i>  {{ item.name }} </a></button>
            </div>
        </div>
        <div class="col-xs-12 col-md-2 dashboard__buttons" ng-if="!admin.shared">
            <a class="btn btn-success" ng-click="admin.sharePost()" ng-disabled="admin.loading">
              <i class="fa fa-facebook fa-fw"></i>
              <i class="fa fa-spinner fa-pulse fa-fw" ng-show="admin.loading"></i>
              Instalar App Facebook
            </a>
        </div>
    </div>
    <div class="row" ng-init="admin.getResponses(admin.PymeID, formDate.fecha_inicial, formData.fecha_final)">
        <div class="page-header col-lg-12">
            <h2>Resultados encuesta</h2>
            <span class="hidden-xs dashboard__edit"><a href="#/{{admin.PymeID}}/encuesta"><i class="fa fa-pencil fa-question-circle-o"></i> Ver encuesta</a></span>
        </div>
        <form name="searchData" class="dashboard__search">

          <div class="form-group col-lg-4 col-xs-12">
            <label>Ingrese la fecha inicial</label>
            <input ng-pattern="/^(([0-3]{1}[0-9]{1})\/[0-1]{1}[0-9]{1})\/([0-9]{4})$/" class="form-control" name="fecha_inicial" placeholder="Dia/mes/año" ng-model="formDate.fecha_inicial" required ng-init="formDate.fecha_inicial = admin.getCurrentDate()">
            <div ng-messages="searchData.fecha_inicial.$error">
              <div class="text-danger" ng-if="searchData.fecha_inicial.$touched" ng-message="pattern">Fecha no válida. Ejemplo: 12/03/2016</div>
            </div>
          </div>

          <div class="form-group col-lg-4 col-xs-12">
            <label>Ingrese la fecha final</label>
            <input ng-pattern="/^(([0-3]{1}[0-9]{1})\/[0-1]{1}[0-9]{1})\/([0-9]{4})$/" class="form-control" name="fecha_final" placeholder="Dia/mes/año" ng-model="formDate.fecha_final" required ng-init="formDate.fecha_final = admin.getCurrentDate()">
            <div ng-messages="searchData.fecha_final.$error">
              <div class="text-danger" ng-if="searchData.fecha_final.$touched" ng-message="pattern">Fecha no válida. Ejemplo: 12/03/2016</div>
            </div>
          </div>
          <div class="form-group col-lg-4 col-xs-12">
            <button type="button" ng-disabled="!searchData.$valid" ng-click="admin.getResponses(admin.PymeID, formDate.fecha_inicial, formData.fecha_final)" class="btn btn-primary"><i class="fa fa-search fa-fw"></i> Consultar</button>
          </div>
        </form>
    </div>
    <div class="row text-center" ng-hide="admin.responsesAvailable || admin.isLoadingResponses">
        <h3>No hay respuestas hasta el momento.</h3>
    </div>
    <div class="row text-center" ng-show="admin.isLoadingResponses">
        <h3><i class="fa fa-spinner fa-pulse fa-fw" ng-show="admin.isLoadingResponses"></i>
        Buscando respuestas...</h3>
    </div>
    <div class="row" ng-show="admin.responsesAvailable" ng-hide="admin.isLoadingResponses">
        <div class="col-xs-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Edad del encuestado
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="morris-charts" id="chart-age"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Genero del encuestado
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="chart-gender"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Calidad del producto o servicio
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="chart-question-one"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Tiempo de espera o atención
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="chart-question-two"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Imagen de las instalaciones
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="chart-question-three"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Disponibilidad de producto o servicio solicitado
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="chart-question-four"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Atención del personal
                </div>
                <div class="panel-body">
                    <div class="morris-charts" id="chart-question-five"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
