<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="login-panel panel panel-default">
          <h2 class="text-center">Encuesta</h2>
          <div class="panel-body">
              <form name="encuestaForm">
                <div class="page-header">
                  <h4 class="text-muted lead">1. ¿Calidad del producto o servicio?</h4>
                </div>

                <div class="form-group encuesta__radio_button">
                  <label ng-repeat="value in encuesta.puntaje">
                    <input type="radio" name="01_{{value}}" ng-model="encuesta.formData.respuesta_01" value="{{value}}">
                    {{value}}
                  </label>
                </div>

                <div class="page-header">
                  <h4 class="text-muted lead">2. ¿Tiempo de espera en la atención?</h4>
                </div>
                <div class="form-group encuesta__radio_button">
                  <label ng-repeat="value in encuesta.puntaje">
                    <input type="radio" name="02_{{value}}" ng-model="encuesta.formData.respuesta_02" value="{{value}}">
                    {{value}}
                  </label>
                </div>

                <div class="page-header">
                  <h4 class="text-muted lead">3. ¿Imagen de las instalaciones?</h4>
                </div>
                <div class="form-group encuesta__radio_button">
                  <label ng-repeat="value in encuesta.puntaje">
                    <input type="radio" name="03_{{value}}" ng-model="encuesta.formData.respuesta_03" value="{{value}}">
                    {{value}}
                  </label>
                </div>

                <div class="page-header">
                  <h4 class="text-muted lead">4. ¿Disponibilidad de producto o servicio solicitado?</h4>
                </div>
                <div class="form-group encuesta__radio_button">
                  <label ng-repeat="value in encuesta.puntaje">
                    <input type="radio" name="04_{{value}}" ng-model="encuesta.formData.respuesta_04" value="{{value}}">
                    {{value}}
                  </label>
                </div>

                <div class="page-header">
                  <h4 class="text-muted lead">5. ¿Atención del personal?</h4>
                </div>
                <div class="form-group encuesta__radio_button">
                  <label ng-repeat="value in encuesta.puntaje">
                    <input type="radio" name="05_{{value}}" ng-model="encuesta.formData.respuesta_05" value="{{value}}">
                    {{value}}
                  </label>
                </div>

                <div class="form-group">
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group" role="group">
                      <button class="btn btn-lg btn-default" ng-click="encuesta.send(encuesta.formData)" type="button">
                        Enviar
                      </button>
                    </div>
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>
