<div class="container">
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <h2 class="text-center">{{perfil.title}}</h2>
            <div class="panel-body">
                <form name="registerForm">
                  <div class="form-group">
                    <label>Nombre Comercial</label>
                    <input class="form-control" name="NombreComercial" ng-maxlength="100" ng-model="formData.NombreComercial" required>
                    <div ng-messages="registerForm.NombreComercial.$error">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 100 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Cédula Jurídica</label>
                    <input class="form-control" name="CedJuridica" ng-maxlength="50" ng-model="formData.CedJuridica" required>
                    <div ng-messages="registerForm.CedJuridica.$error">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 50 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Teléfono</label>
                    <input class="form-control" name="NumeroTelefono" ng-maxlength="50" ng-model="formData.NumeroTelefono" required>
                    <div ng-messages="registerForm.NumeroTelefono.$error" role="alert">
                      <div class="text-danger" class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" class="text-danger" ng-message="maxlength">Este campo solo permite 50 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Género del Propietario</label>
                    <select class="form-control" name="singleSelect" name="GeneroPropietarioID" ng-model="formData.GeneroPropietarioID" required>
                      <option value="option-1">Option 1</option>
                    </select>
                    <div ng-messages="registerForm.GeneroPropietarioID.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Sector</label>
                    <select class="form-control" name="singleSelect" name="SectorID" ng-model="formData.SectorID" required>
                      <option value="option-1">Option 1</option>
                    </select>
                    <div ng-messages="registerForm.SectorID.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Año de inicio de operaciones</label>
                    <select class="form-control" name="singleSelect" name="AnnoInicioOperaciones" ng-model="formData.AnnoInicioOperaciones" required>
                      <option value="option-1">Option 1</option>
                    </select>
                    <div ng-messages="registerForm.AnnoInicioOperaciones.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Selecciona un país</label>
                    <select class="form-control" name="singleSelect" ng-model="formData.Pais" name="Pais" required>
                      <option value="option-1">Option 1</option>
                    </select>
                    <div ng-messages="registerForm.Pais.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 100 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Provincia / Estado / Departamento</label>
                    <select class="form-control" name="singleSelect" name="Provincia" ng-model="formData.Provincia" required>
                      <option value="option-1">Option 1</option>
                    </select>
                    <div ng-messages="registerForm.Provincia.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Dirección</label>
                    <input class="form-control" name="Direccion" ng-maxlength="200" ng-model="formData.Direccion" required>
                    <div ng-messages="registerForm.Direccion.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 200 caracteres.</div>
                    </div>
                  </div>

                  <div ng-if="isActive" class="form-group">
                    <label>PYME activa?</label>
                    <input ng-model="formData.EsActiva" type="checkbox">
                  </div>

                  <div class="form-group">
                    <label>Negocio familiar?</label>
                    <input ng-model="formData.EsNegocioFamiliar" type="checkbox">
                  </div>

                  <div class="form-group">
                    <label>Adjuntar logo</label>
                    <div class="file-upload" flow-init>
                      <img flow-img="$flow.files[0]"/>
                      <div>
                        <input type="file" flow-btn ng-model="formData.logo" name="image"/>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Dirección Facebook</label>
                    <input class="form-control" name="linkFacebook" ng-maxlength="300" ng-model="formData.linkFacebook">
                    <div ng-messages="registerForm.linkFacebook.$error" role="alert">
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 300 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Dirección Twitter</label>
                    <input class="form-control" ng-maxlength="300" name="linkTwitter" ng-model="formData.linkTwitter">
                    <div ng-messages="registerForm.linkTwitter.$error" role="alert">
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 300 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Dirección Linkedin</label>
                    <input class="form-control" ng-maxlength="300" name="linkLinkedin" ng-model="formData.linkLinkedin">
                    <div ng-messages="registerForm.linkLinkedin.$error" role="alert">
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 300 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Dirección Canal YouTube</label>
                    <input class="form-control" ng-maxlength="300" name="linkYouTube" ng-model="formData.linkYouTube">
                    <div ng-messages="registerForm.linkYouTube.$error" role="alert">
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 300 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Página Web</label>
                    <input class="form-control" ng-maxlength="300" name="linkPaginaWeb" ng-model="formData.linkPaginaWeb">
                    <div ng-messages="registerForm.linkPaginaWeb.$error" role="alert">
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 300 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Correo electrónico contacto</label>
                    <input class="form-control" ng-maxlength="50" ng-pattern="/^([^@\s]+)@((?:[-a-zA-Z0-9]+\.)+[a-zA-Z]{2,})/" name="CorreoContacto" ng-model="formData.CorreoContacto" required>
                    <div ng-messages="registerForm.CorreoContacto.$error" role="alert">
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 50 caracteres.</div>
                      <div class="text-danger" ng-message="pattern">Correo electrónico invalido.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Nombre completo</label>
                    <input class="form-control" ng-maxlength="50" name="Nombre" ng-model="formData.Nombre" required>
                    <div ng-messages="registerForm.Nombre.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 50 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Nombre de usuario</label>
                    <input class="form-control" ng-maxlength="50" name="NombreUsuario" ng-model="formData.NombreUsuario" required>
                    <div ng-messages="registerForm.NombreUsuario.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 50 caracteres.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" ng-pattern="/^([a-z0-9]){8,10}$/" class="form-control" name="Contrasena" ng-model="formData.Contrasena" required>
                    <div ng-messages="registerForm.Contrasena.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="pattern">Contraseña invalida.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Repetir contraseña</label>
                    <input type="password" class="form-control" ng-pattern="/^([a-z0-9]){8,10}$/" name="ContrasenaCheck" ng-model="ContrasenaCheck" required>
                    <div ng-messages="registerForm.ContrasenaCheck.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="pattern">Contraseña invalida.</div>
                    </div>

                    <div class="text-danger" ng-if="ContrasenaCheck && formData.Contrasena != ContrasenaCheck">Las contraseñas deben coincidir.</div>
                  </div>

                  <div class="form-group">
                    <label>Correo electrónico</label>
                    <input class="form-control" ng-maxlength="50" ng-pattern="/^([^@\s]+)@((?:[-a-zA-Z0-9]+\.)+[a-zA-Z]{2,})/" name="CorreoElectronico" ng-model="formData.CorreoElectronico" required>
                    <div ng-messages="registerForm.CorreoElectronico.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 50 caracteres.</div>
                      <div class="text-danger" ng-message="pattern">Correo electrónico invalido.</div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Repetir correo electrónico</label>
                    <input class="form-control" ng-maxlength="50" ng-pattern="/^([^@\s]+)@((?:[-a-zA-Z0-9]+\.)+[a-zA-Z]{2,})/" name="CorreoElectronicoCheck" ng-model="CorreoElectronicoCheck" required>
                    <div ng-messages="registerForm.CorreoElectronicoCheck.$error" role="alert">
                      <div class="text-danger" ng-message="required">Campo requerido.</div>
                      <div class="text-danger" ng-message="maxlength">Este campo solo permite 50 caracteres.</div>
                      <div class="text-danger" ng-message="pattern">Correo electrónico invalido.</div>
                    </div>

                    <div class="text-danger" ng-if="CorreoElectronicoCheck && formData.CorreoElectronico != CorreoElectronicoCheck">Los correos deben coincidir.</div>
                  </div>

                  <button ng-disabled="!registerForm.$valid" class="btn btn-lg btn-success btn-block" ng-click="perfil.send(formData)" type="button">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
