.dashboard {
    .dashboard__title {
        color: $color-green;
        font-weight: 200;
    }

    .dashboard__edit {
        position: absolute;
        right: 0;
        top: 50%;
        a {
            color: $color-gray;
            transition: $transition;
            &:hover, &:focus {
                color: $color-green;
                text-decoration: none;
            }
        }
    }

    .dashboard__data {
        span {
            font-weight: 400;
            color: $color-gray;
        }
    }

    .dashboard__buttons {
        padding-top: 10px;
        button {
            &:first-child {
                margin-right: 0;
            }
            float: right;
            margin-left: 15px;
        }
    }
}
