.dashboard {
    .dashboard__title {
        color: $color-green;
        font-weight: 200;
    }

    .dashboard__edit {
        position: absolute;
        right: 0;
        top: 50%;
        a {
            color: $color-gray;
            transition: $transition;
            &:hover, &:focus {
                color: $color-green;
                text-decoration: none;
            }
        }
    }

    .dashboard__data {
        span {
            font-weight: 400;
            color: $color-gray;
        }
    }

    .dashboard__social {
        margin-top: 15px;
        a {
            color: $color-dark-gray;
            transition: $transition;
            &:hover {
                color: $color-green;
                text-decoration: none;
            }
        }

        .btn-default {
            margin: 5px 10px;
            
            &:hover {
                border-color: $color-green;
                background-color: #fff;
            }
        }
    }

    .dashboard__buttons {
        padding-top: 10px;
        .btn {
            &:first-child {
                margin-right: 0;
            }
            float: right;
            margin-left: 15px;
        }
    }

    .dashboard__search {
        button.btn {
            margin-top: 25px;
        }
    }
}
