.bg__image__login {
  background-image: url('../img/blurred-background.jpg');
  background-size: cover;
}

.login__container {
  background-color: rgba(231, 234, 239, 0.7);
  border-color: transparent;
}
