.bg__image__login {
  background-image: url('img/blurred-background.jpg');
  background-size: cover;
}

.login__container {
  background-color: rgba(231, 234, 239, 0.7);
  border-color: transparent;

  .btn-default,
  .btn-default[disabled]:hover {
    background: rgba(49, 112, 143, 0.82);
    color: #fff;
    border: none;
    opacity: 1;
  }

  .login__btn__cancel {
    background: rgba(49, 113, 143, 0.54);
  }
}