.bg__register {
  background-image: url('../img/blurred-background2.jpg');
  background-size: cover;

  .panel-default {
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
  }
}
