.form-group {
  margin-bottom: 30px; }
  .form-group input[type="checkbox"] {
    margin-left: 10px; }

.form__image img {
  max-width: 300px; }

.btn-group-justified .btn-default,
.btn-group-justified .btn-default[disabled]:hover {
  background: rgba(49, 112, 143, 0.82);
  color: #fff;
  border: none;
  opacity: 1; }

.btn-group-justified .login__btn__cancel {
  background: rgba(49, 113, 143, 0.54); }

.nav li a {
  color: #fff;
  transition: all 0.25s ease-out; }
  .nav li a:hover {
    background-color: transparent !important;
    color: #5cb85c; }

.navbar-brand {
  color: #5cb85c !important;
  transition: all 0.25s ease-out;
  font-size: 21px;
  font-weight: 500; }
  .navbar-brand:hover {
    color: #80c780 !important; }

.bg__image__login {
  background-image: url("../img/blurred-background.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.login__container {
  background-color: rgba(231, 234, 239, 0.7);
  border-color: transparent; }

.bg__register {
  background-image: url("../img/blurred-background2.jpg");
  background-size: cover; }
  .bg__register .panel-default {
    border-color: transparent; }

.dashboard .dashboard__title {
  color: #5cb85c;
  font-weight: 200; }

.dashboard .dashboard__edit {
  position: absolute;
  right: 0;
  top: 50%; }
  .dashboard .dashboard__edit a {
    color: #8a8a8a;
    transition: all 0.25s ease-out; }
    .dashboard .dashboard__edit a:hover, .dashboard .dashboard__edit a:focus {
      color: #5cb85c;
      text-decoration: none; }

.dashboard .dashboard__data span {
  font-weight: 400;
  color: #8a8a8a; }

.dashboard .dashboard__social {
  margin-top: 15px; }
  .dashboard .dashboard__social a {
    color: #3e3e3e;
    transition: all 0.25s ease-out; }
    .dashboard .dashboard__social a:hover {
      color: #5cb85c;
      text-decoration: none; }

.dashboard .dashboard__buttons {
  padding-top: 10px; }
  .dashboard .dashboard__buttons .btn {
    float: right;
    margin-left: 15px; }
    .dashboard .dashboard__buttons .btn:first-child {
      margin-right: 0; }

.dashboard .dashboard__search button.btn {
  margin-top: 25px; }
