.nav {
    li a {
        color: $color-white;
        transition: $transition;
        &:hover {
            background-color: transparent !important;
            color: $color-green;
        }
    }
}
