.navbar-brand {
    color: $color-green !important;
    transition: $transition;
    font-size: 21px;
    font-weight: 500;
    &:hover {
        color: lighten($color-green, 10%) !important;
    }
}
